<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ "/css/global.css" | toBaseUrl }}">
	{% if pageStyle%}
	<link rel="stylesheet" href="{{ ("/css/" + pageStyle) | toBaseUrl }}">
	{% endif %}
</head>

<body>
	<div class="jam-banner">
		<div class="jam-banner-inner">
			<a href="{{ "/" | toBaseUrl }}">
				{% if jamLogo%}
				<img class="logo" src="{{ ("/assets/" + jamLogo) | toBaseUrl }}" alt="Jam logo">
				{% else %}
				<img class="logo" src="{{ "/assets/skgjam2026.png" | toBaseUrl }}" alt="Jam logo">
				{% endif %}
			</a>
			<div>
				<h1>{{title}}</h1>
			</div>
		</div>
	</div>
	<nav class="jam-nav">
		<div class="jam-nav-inner">
			<a href="{{ '/' | toBaseUrl }}" class="{% if page.url == '/' %}active{% endif %}">
				Home
			</a>
			<a href="{{ '/skgjam2025/' | toBaseUrl }}"
				class="{% if page.url == '/skgjam2025/' %}active{% endif %}">
				2025 Edition
			</a>
			<a href="{{ '/faq/' | toBaseUrl }}" class="{% if page.url == '/faq/' %}active{% endif %}">
				FAQ
			</a>
			<a href="{{ '/help/' | toBaseUrl }}" class="{% if page.url == '/help/' %}active{% endif %}">
				Help
			</a>
		</div>
	</nav>
	<div class="page-outer">
		<div class="page-content">
			{{ content | safe }}
		</div>
	</div>
	<div class="jam-footer">
		<div class="jam-footer-inner">
			<p>© 2026 Stop Killing Games Community Jam</p>
		</div>
	</div>
</body>

</html>
