body {
  margin: 0;
  font-family: sans-serif;
  background: #E1E1E1;
  background-image: url('../assets/skgjam2025-background.jpg');
  background-repeat: repeat;
  background-position: 0% 0%;
  color: #ffffff;
}
